.map-container h1,
h1 {
  margin: 0 1rem;
  text-align: center;
}

.map-container {
  position: relative;
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container iframe {
  width: 85rem;
  max-width: 1000px ;
  height: 70rem;
  max-height: 700px ;
}
